{{!-- <li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}Devour!{{else}}Reverse Time{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li> --}}

<li>
    {{#unless devoured}}
    <button class="change-devour btn btn-success" data-id="{{id}}" data-newdevour="{{devour}}">
        {{#if devour}}{{this.burger_name}}{{/if}}
    </button>
    {{/unless}} {{#if devoured}}
    <button class="delete-burger btn btn-danger" data-id="{{this.id}}"> {{this.burger_name}}</button>
    {{/if}}
</li>